<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel With Me</title>
  </head>
  <body>
    <header class="hero">
      <h1>Travel With Me</h1>
      <form class="search-form" onsubmit="return Client.handleSubmit(event)">
        <div class="country-container">
          <label for="country">Where are you going?</label>
          <br />
          <input
            type="text"
            id="country-search"
            name="country"
            placeholder="Enter a country"
            required
          />
          <span class="error-message"></span>
        </div>
        <div class="date-container">
          <label for="country">Departure Date</label>
          <br />
          <input type="date" id="departure" name="departure" required />
        </div>
        <div class="button-container">
          <button type="submit" class="search-btn" value="Search" />Let's Go!  <i class="fa fa-search" aria-hidden="true"></i></button>
        </div>
      </form>
    </header>
    <main>
      <section class="search-result">
        <h2>Your searched trip</h2>
      </section>
      <section class="upcoming-trip">
        <h2>Your upcoming trip</h2>
      </section>
      <section class="saved-trip">
        <h2>Your saved trips</h2>
      </section>
    </main>
    <footer class="site-footer">
      Travel With Me
    </footer>
  </body>
</html>
