$text-font-stack: "Raleway", sans-serif !default;
$text-color: #382b22;

$bg: #fff;
$light-pink: #fff0f0;
$pink: #ffe9e9;
$dark-pink: #f9c4d2;
$pink-border: #b18597;
$pink-shadow: #ffe3e2;

// Padding for boxes
$padding-medium: 15px 15px;
