.search-form {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  justify-content: center;
}

.country-container {
  padding: 30px;
}

.date-container {
  padding: 30px;
}

.button-container {
  padding: 30px;
}
